apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: {{ .Values.image.port }}
    protocol: TCP
  selector:
    app: {{ .Release.Name }}
